# requirements for most basic library use
astropy>=2.0.3,!=4.2.1,!=4.0.5
Mako>=1.0.1
scipy>=0.16.0,<1.17.0
matplotlib>=2.0.0
numpy>=1.16.0,!=1.19.0,!=2.2.2,<2.4
pillow
h5py>=3.0.0,!=3.7.0
jinja2
mpld3>=0.3
beautifulsoup4>=4.6.0
cython
lalsuite!=7.2
lscsoft-glue>=1.59.3
igwn-segments
tqdm
gwdatafind>=1.1.3

# Needed for Parameter Estimation Tasks
emcee==2.2.1
dynesty<3.0

# Needed for ringdown and time-domain injection (fix wrap-around issue for SMBHB)
pykerr


